{% extends "principal/base.html" %}
{% load staticfiles %}

{% block content %}
            <img src="{% static post.imagen_instrumento %}" style="width:200px;height:200px;float: left;" />
            <h2 class="blog-post-title"><a href="{% url 'principal.views.detalle_publicacion' pk=post.pk %}">{{ post.nombre }}</a></h2>
            <h3>Marca:{{post.marca }}</h3>
            <h3>Categoria: {{post.categoria}}</h3>
            <p>{{ post.descripcion|linebreaks }}</p>
            <h3>Precio: {{post.precio}}</h3>
            <p class="blog-post-meta">Fecha de publicacion: {{ post.fecha_publicacion }}</p>
            <hr>
{% endblock %}